@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  margin-right: 4px;
  background-color: transparent;
}
::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(42, 46, 54, 0.15);
  border-radius: 4px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
}

.ant-xx {
  background-color: transparent !important;
}

/* .content .title span {
  color: initial !important;
} */

.ant-xx {
  border: none !important;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  padding: 12px 8px !important;
  /* box-shadow: none !important; */
}

.ant-xx .img {
  opacity: 0;
  width: 14px !important;
  height: 14px !important;
}

.ant-xx .img[src] {
  opacity: 1;
}

.ant-xx .title span {
  /* font-size: 13px !important; */
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: pre-wrap !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.ant-xx .title > div {
  width: 0;
  margin-left: 0px;
}

.ant-xx .title > div :last-child {
  border: 1px solid #1677ff;
  border-radius: 9999px;
  width: 14px;
  height: 14px;
  text-align: center;
  line-height: 14px;
  font-size: 10px;
  color: #1677ff;
  top: 33px;
}

.ant-form-item {
  margin-bottom: 8px;
}

.ant-transfer-list {
  height: 380px !important;
  overflow-y: auto;
}
