@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  margin-right: 4px;
  background-color: transparent;
}
::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(42, 46, 54, 0.15);
  border-radius: 4px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
}

.ant-xx {
  background-color: transparent !important;
}

/* .content .title span {
  color: initial !important;
} */

.ant-xx .img {
  opacity: 0;
}

.ant-xx .img[src] {
  opacity: 1;
}

.ant-form-item {
  margin-bottom: 8px;
}
